<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave</title>
</head>
  <body>
    <div class="Wavebox">
        <h1>Wave</h1>
    </div>
    <div class="Welcome">
        <h3>Join Wave today and unlock the full potential of our dynamic community. By registering, you'll gain exclusive access to personalized content, seamless sharing, and meaningful connections. Click the register button below to start making waves and transforming your online experience!
        </h3>
        <a href='/adminsignup'>sign up here if not a user</a>

        <a href="/loginpage"> login if already a user</a>
        <style>
            .Welcome{
                width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
            }
            .Wavebox{
                text-align: center;
            }
        
        </style>
    </div>

    <div classname="Footer-box">
        <footer>
            <h3>
                hi any questions contact us
            </h3>
        </footer>
        <style>
            .Footer-box{
               width: 20%;
               margin: 0 auto;
               padding: 10px;
               border: 1px solid #ccc;
               background-color: red;
           }
       </style>
    </div>
  </body>
</html>


